@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    text-decoration: none;
    color: #222;
}

html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans KR", 돋움, Dotum, 굴림, Gulim, Verdana, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.45px;
    font-size: 16px;
    color: #555;
    word-break: keep-all
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1405px;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

/* 안내창 */
.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}

.fa {
    position: absolute;
    display: block;
    top: 24%;
    right: 37%;
    font-size: 130px;
    color: rgba(250, 19, 19, 0.1);
}

.modal-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(207, 174, 197, 0.212);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-main h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #555;
    padding-top: 10px;
}

.modal-main p {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.8;
    padding: 20px;
}

.modal-main b {
    font-weight: 600;
    color: #ff4a50;
}

.modal-main strong {
    font-weight: 500;
    font-size: 17px;
    padding: 2px;
    line-height: 16px;
}

.modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 16px;
    top: 16px;
    border: 0;
    cursor: pointer;
    background: url('../images/cancel.png') no-repeat center;
    background-size: cover;
    transition: transform 0.5s;
}

.modal-close:hover {
    transform: rotate(90deg);
}

/* header */
.header .inner {
    position: relative;
    display: block;
    width: 1405px;
    height: 90px;
}

.header .inner .logo {
    position: absolute;
    left: 0px;
    top: 33px;
    display: block;
    width: 141px;
    height: 24px;
    background: url('../images/logo_winiadimchae.svg') no-repeat center;
    background-size: cover;
}

.header .inner .gnb {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}


/* gnb left */

.header .inner .gnb .menu {
    position: relative;
    display: block;
    left: 14%;
    top: 37%;
}

.header .inner .gnb .menu li {
    position: relative;
    display: block;
    float: left;
    color: #222;
    font-size: 16px;
    padding: 0px 7px 33px 35px;
    letter-spacing: -0.4px;
    font-weight: bold;
    border: 3px solid paleturquoise;
    cursor: pointer;

}

.header .inner .gnb .menu li:hover .depth1 {
    display: block;
}

.header .inner .gnb .menu li .depth1 {
    position: absolute;
    display: none;
    top: 30px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 3px solid pink;
    z-index: 99;
    background-color: #fff;
}



.header .inner .gnb .menu .depth1 li {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 10px;
    float: left;
    font-weight: bold;
}

.header .inner .gnb .menu .depth1 .depth2 {
    position: relative;
    display: block;
}

.header .inner .gnb .menu .depth1 .depth2 li {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

/* gnb right */
.header .inner .gnb .user {
    position: relative;
    display: block;
    float: right;
    top: 15%;
    left: 10px;
}

.header .inner .gnb .user li {
    position: relative;
    display: block;
    float: left;
    margin: 0px 5px;
}

.header .inner .gnb .user li a {
    position: relative;
    display: block;
    color: #999;
    font-size: 14px;
    padding: 20px 5px;

}

.header .inner .gnb .user li .new {
    position: absolute;
    top: 5px;
    color: #fffb87;
    font-size: 6px;
    background: #6659e2;
    padding: 0 7px;
}

.header .inner .gnb .user li .catalog img,
.header .inner .gnb .user li .e-shop img {
    margin-left: 5px;
}

.header .inner .gnb .user .bar {
    position: relative;
    display: block;
    width: 1px;
    height: 20px;
    background-color: #e0e0e0;
    margin: 20px 15px;
}

.header .inner .gnb .user li .login img {
    width: 21px;
    height: 21px;

}

.header .inner .gnb .user li .search img {
    width: 21px;
    height: 21px;
}

/* visual */
.visual {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.visual .sw-visual {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
}

.visual .sw-visual .swiper-slide {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.visual .sw-visual .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}


.visual .sw-visual p {
    color: #222;
    font-size: 24px;
    font-weight: bold;
}


.visual .sw-visual h2 {
    color: #222;
    font-size: 60px;
    font-weight: bold;
    margin: 30px 0 42px 0;
}


.visual .sw-visual a {
    color: #222;
    font-size: 16px;
    padding: 12px 40px;
    border: 1px solid #222;
    font-weight: bold;
    border-radius: 48px;
}


.visual .sw-visual-1 {
    background: url('../images/visual1.jpg') no-repeat center;
    background-size: cover;
}

.visual .sw-visual-2 {
    background: url('../images/visual2.jpg') no-repeat center;
    background-size: cover;
}

.visual .sw-visual-3 {
    background: url('../images/visual3.jpg') no-repeat center;
    background-size: cover;
}

.visual .sw-visual-4 {
    background: url('../images/visual4.jpg') no-repeat center;
    background-size: cover;
}

.visual .sw-visual-5 video {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
}

.visual .sw-visual-6 {
    background: url('../images/visual6.png') no-repeat center;
    background-size: cover;
}

.visual .sw-visual-7 {
    background: url('../images/visual7.jpg') no-repeat center;
    background-size: cover;
}

.icon-up-open-big {
    display: block;
    font-size: 36px;
    z-index: 9;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.sw-visual-prev .icon-up-open-big {
    position: absolute;
    top: 51%;
    left: 6%;
    transform: rotate(270deg);
}

.sw-visual-next .icon-up-open-big {
    position: absolute;
    top: 51%;
    right: 6%;
    transform: rotate(90deg);
}



.sw-visual-control {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: block;
    z-index: 9;
}

.sw-visual-control .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.5;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}

.sw-visual-control .swiper-pagination-bullet-active {
    width: 30px;
    background-color: #003b70;
    opacity: 1;
}

.sw-visual-control .sw-visual-pause {
    position: absolute;
    display: block;
    bottom: 5px;
    right: -20px;
    border: 0;
    cursor: pointer;
    background: url('../images/btn_swiper_pause.svg') no-repeat center;
    width: 20px;
    height: 20px;
}


.sw-visual-control .sw-visual-play {
    background: url('../images/btn_swiper_play.svg') no-repeat center;
}

/* new-item */
.new-item {
    position: relative;
    display: block;
    margin: 5% 0;
}

.new-item .inner {
    position: relative;
    display: block;
    margin-top: 2%;
}

.slide-menu {
    font-size: 18px;
    line-height: 1;
    text-align: center;

}

.slide-menu a {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 15px;
    color: #999;
}

.slide-menu a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #222;
    transition: all 0.3s;
}

/* 탭메뉴 효과 */
.slide-menu-active {
    font-weight: 700;
    color: #222 !important;
}

.slide-menu-active::after {
    width: 100% !important;
}



/* item-1 */
.sw-item-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.sw-item-1 li {
    position: relative;
    display: block;
    width: 450px;
    height: 323px;
    float: left;
    background-color: #f3f3f3;
    padding: 10px 10px 20px;
    text-align: center;
    margin-right: 22px;
    margin-bottom: 22px;
}

.sw-item-1 li:nth-child(3),
.sw-item-1 li:nth-child(6) {
    margin-right: 0;
}

.new-item .sw-item-1 .item-title {
    color: #222;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.5px;
    margin: 17px 0;
}

.new-item .sw-item-1 .item-code {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.3px;
}

.new-item .sw-item-1 li a img {
    transition: all 0.3s;
}

.new-item .sw-item-1 li a img:hover {
    transform: scale(1.1);
}

/* item-2 */
.sw-item-2 .inner {
    overflow: hidden;
}

.new-item .sw-item-2 a {
    position: relative;
    display: block;
    width: 1400px;
    height: 661px;
    background: url('../images/sw-item-2.jpg') no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.new-item .sw-item-2 a:hover {
    transform: scale(1.03);
}

/* item-3 */
.new-item .sw-item-3 {
    height: 100%;
    width: 100%;
}

.new-item .sw-item-3 .depth1 {
    position: relative;
    display: block;
    float: left;
}

.new-item .sw-item-3 .depth1 a {
    position: relative;
    display: block;
    width: 330px;
    height: 308px;
    overflow: hidden;
    margin-right: 21px;
    margin-bottom: 23px;
}

.new-item .sw-item-3 .depth1 a img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.new-item .sw-item-3 .depth1 a img:hover {
    transform: scale(1.03);
}

.new-item .sw-item-3 .depth2 {
    position: relative;
    display: block;
    float: left;
}

.new-item .sw-item-3 .depth2 a img {
    position: relative;
    display: block;
    width: 690px;
    height: 638px;
}


.new-item .sw-item-3 .depth3 {
    position: relative;
    display: block;
    float: left;
}

.new-item .sw-item-3 .depth3 a {
    position: relative;
    display: block;
    width: 330px;
    height: 308px;
    overflow: hidden;
    margin-left: 21px;
    margin-bottom: 23px;
}

.new-item .sw-item-3 .depth3 a img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.new-item .sw-item-3 .depth3 a img:hover {
    transform: scale(1.03);
}



/* item-4 */

.new-item .sw-item-4 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.new-item .sw-item-4 li a {
    position: relative;
    display: block;
    float: left;
    width: 683px;
    height: 318px;
    overflow: hidden;
    margin: 8px;
}

.new-item .sw-item-4 li a img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    transition: all 0.3s;
}

.new-item .sw-item-4 li img:hover {
    transform: scale(1.03);
}

.sw-item-pg {
    position: relative;
    display: block;

}




/* popular-item */
.popular-item {
    position: relative;
    display: block;
    background: url('../images/bg_main_popular.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}

.popular-item>.inner {
    position: relative;
    display: block;
    width: 1405px;
    height: 100%;
}

.popular-menu {
    position: relative;
    display: block;
    text-align: center;
    top: 130px;
}

.popular-menu a {
    position: relative;
    display: inline-block;
    color: #222;
    margin: 0 20px;
    padding: 10px 0 12px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.4px;
}


.popular-menu a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #222;
    transition: all 0.3s;
}


.popular-item h2 {
    position: relative;
    top: 60px;
    color: #222;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
}

.popular-item .sw-popular .inner {
    position: relative;
    display: block;
    width: 1405px;
    height: 896px;
}

.popular-menu-active {
    font-weight: 700;
    color: #222 !important;
}

.popular-menu-active::after {
    width: 100% !important;
}


.popular-item .inner .popular-box {
    position: relative;
    display: block;
    top: 25%;
    width: calc(1305px / 3);
    height: 600px;
    background-color: #f3f3f3;
    float: left;
    margin-right: 50px;
}

.popular-item .inner .popular-box:last-child {
    margin-right: 0;
}

.popular-item .inner .popular-box img {
    position: relative;
    top: 10%;
    display: block;
    width: 300px;
    height: 300px;
    margin: 0px auto;
}

.popular-item .inner .popular-box p {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #222;
}

.popular-item .inner .popular-box a {
    position: relative;
    display: block;
    top: 33%;
    left: 36%;
    height: 38px;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    padding: 11px 0;
    color: #222;
    font-weight: 700;
}

.popular-item .inner .popular-box a>img {
    position: absolute;
    top: 12px;
    left: 80px;
    display: block;
    width: 32px;
    height: 11px;
}

.popular-item .inner .popular-box a:hover {
    position: relative;
    display: block;
    width: 50px;
    height: 1px;
    background-color: #222;
    transition: 0.3s ease;
}





/* appiances */


/* kitchen */
.sw-ap .ap-kitchen1 {
    background: url('../images/kit-submenu1.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-kitchen2 {
    background: url('../images/kit-submenu2.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-kitchen3 {
    background: url('../images/kit-submenu3.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-kitchen4 {
    background: url('../images/kit-submenu4.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-kitchen5 {
    background: url('../images/kit-submenu5.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-kitchen6 {
    background: url('../images/kit-submenu6.jpg') no-repeat center;
    background-size: cover;
}


/* life */
.sw-ap .ap-life1 {
    background: url('../images/ap-life1.jpg') no-repeat center;
    background-size: cover;
}


.sw-ap .ap-life2 {
    background: url('../images/ap-life2.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-life3 {
    background: url('../images/ap-life3.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-life4 {
    background: url('../images/ap-life4.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-life5 {
    background: url('../images/ap-life5.jpg') no-repeat center;
    background-size: cover;
}


/* air */
.sw-ap .ap-air1 {
    background: url('../images/ap-air1.jpg') no-repeat center;
    background-size: cover;
}


.sw-ap .ap-air2 {
    background: url('../images/ap-air2.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-air3 {
    background: url('../images/ap-air3.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-air4 {
    background: url('../images/ap-air4.jpg') no-repeat center;
    background-size: cover;
}

.sw-ap .ap-air5 {
    background: url('../images/ap-air5.jpg') no-repeat center;
    background-size: cover;
}

.appliances {
    position: relative;
    display: block;
    width: 100%;
    height: 771px;
}

.sw-ap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.sw-ap .inner {
    position: relative;
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
}



.sw-ap .ap-title {
    position: absolute;
    display: block;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    font-weight: 700;
}

.ap-menu {
    position: absolute;
    display: block;
    width: 800px;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
}


.ap-menu a {
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 17px;
}

.sw-ap .ap-subtitle {
    position: absolute;
    display: block;
    top: 42%;
    left: 50%;
    transform: translate(-50%);
    font-size: 54px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: -1.35px;
    text-align: center;
}

.sw-ap .ap-text {
    position: absolute;
    display: block;
    bottom: 36%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    text-align: center;
}

.sw-ap .ico-half-arr img {
    position: absolute;
    display: block;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    width: 112px;
    height: 17px;

}

.sw-ap .ico-half-arr img:hover {
    transition: transform 0.5s ease-out;
}

.ap-menu a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.3s;
}

.ap-menu-active {
    font-weight: 700;
}

.ap-menu-active::after {
    width: 100%;
}


/* social */
.social {
    position: relative;
    display: block;
    background-color: #f6f9fb;
    width: 100%;
    height: 1120px;
    margin-bottom: 150px;
}

.social .inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid plum;
}

.social .inner .social-title {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-weight: 700;
    font-size: 40px;
    color: #222;
}

.social .inner .social-menu {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}


.social .inner .social-menu a {
    position: relative;
    display: block;
    float: left;
    font-size: 18px;
    color: #999999;
}

.social .inner .social-menu a:nth-child(2) {
    margin: 0 40px;
}

.social::after {
    position: absolute;
    top: 285px;
    content: '';
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

.sw-sc1-1 {
    position: relative;
    display: block;
    float: left;
}

.sw-sc1-2 {
    position: relative;
    display: block;
    float: left;
}

.sw-sc1-3 {
    position: relative;
    display: block;
    float: left;
}

.sc-inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid pink;
}

.sc-1 .sc1-1 {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    background: url('../images/social1-1.jpg') no-repeat center;
    background-size: contain;
    border-radius: 30px;
}

.sc-1 .sc1-2 {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    background: url('../images/social1-2.png') no-repeat center;
    background-size: contain;
    border-radius: 30px;
}

.sc-1 .sc1-3 {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    background: url('../images/social1-3.jpg') no-repeat center;
    background-size: contain;
    border-radius: 30px;
}

.sc-title {
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin: 35px 0px 25px 0px;
}

.sc-subtitle {
    position: relative;
    display: block;
    font-size: 18px;
    color: #666;
}


/* support */




/* footer */